.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    padding: 10px;
    height:100px;
    width:100px;
}

.nav-items ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding:10px 10px;
}

.nav-items> ul> li {
    margin:20px;
    font-size: 18px;
}

.search {
    padding:50px;
}

.image {
    height:200px;
    width:350px;
}

.res-container {
    margin: 0px 65px;
}

.res-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.res-card {
    margin:10px;
    background-color: #fbf6e9;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.search-container {
    padding: 20px;
    text-align: center;
}

#search-input {
    border: 1px solid #ffd560;
    padding: 5px;
    font-size: 16px;
    width:200px;
    border-radius: 10px;
}

.search-input:hover {
    border-radius: 0px;
}

.btn-search {
    padding:5px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #ffd560;
    background-color:#ffd560;
    padding:5px;
    width:100px;
    cursor: pointer;
}